.categories {
  font-family: 'Red Hat Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 20px auto;
  padding: 15px 10px;
  background: #fff;
  text-align: center;
}

.bold {
  font-family: 'Red Hat Mono', monospace;
  border-bottom: 2px solid black;
  font-weight: bold;
  color: black;
  text-align: center;
}