.likeAdvs {
  font-family: 'Red Hat Mono', monospace;
  flex-direction: row;
  justify-content: right;
  align-items: baseline;
  max-width: 300px;
  margin: 0px auto;
  padding: 5px 5px;
  background: #fff;
  text-align: right;
  display: inline;
  padding-left:30px;
}