.create-comment {
  font-family: 'Red Hat Mono', monospace;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  align-self: self-start;
  max-width: 500px;
  margin: 0px auto;
  padding: 5px 5px;
  background: #fff;
  text-align: left;
}
