.big-text {
  font-family: 'Red Hat Mono', monospace;
  font-size: 60px;
  color: #FFCE66;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #267055;
  margin-top: 80px;
  padding-left: 200px;
  margin-right: 50px;
}

.shadow {
  box-shadow: 6px 12px 2px 2px blue, -6px -12px 2px 2px green;
}

.button {
  -webkit-text-stroke-width: 0px;
  size: 100px;
  padding-left: 20px;
  padding-top: 20px;
}
