.create-button {
  display: inline-block;
  background-color: #5ba19a;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 15px ;
}

.create-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.create-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

//.create-button:hover span {
//  padding-right: 15px;
//}

//.create-button:hover span:after {
//  opacity: 1;
//  right: 0;
//}
