.Advertisement {

}

.Advertisement .advertImg {
    min-height: 250px;
    background: no-repeat url('../../assets/img/noImgAdv.png');
    background-size: contain;
    background-position: center;
}