.user-info-page {
  margin: auto;
  width: 30vw;
  min-width: 300px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.avatar {
  background: url('../../assets/img/defaultAvatar.png');
  width: 120px;
  margin: auto;
  height: 120px;
  background-size: contain;
}
.avatar img {
  width: 120px;
  margin: auto;
}