.custom-button {
    min-width: 165px;
    width: auto;
    letter-spacing: 0.5px;
    padding: 15px;
    font-size: 15px;
    background-color: #16796F;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: #10564F;
      border: 1px solid #10564F;
  }
}
