.post {
  font-family: 'Red Hat Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  max-width: 500px;
  margin: 0px auto;
  padding: 5px 5px;
  background: #fff;
  text-align: center;
}

.post-image img {
  width: 100%
}

.post-text {
  font-family: 'Red Hat Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 500px;
  margin: 0px auto;
  padding: 15px 10px;
  background: #fff;
  text-align: justify;
}

.bold {
  font-family: 'Red Hat Mono', monospace;
 // border-bottom: 2px solid black;
  font-weight: bold;
  color: black;
  text-align: center;
}
.post-image {
  align-self: stretch;
  justify-content: center;
  margin: 0px auto;
  padding: 5px 5px;
  align-items: center;
  text-align: center;
}