* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #383f4d;
  background-color: #fff;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.45;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
/* Header */

header {
  width: 100%;
  background-color: #acddbc;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
}

.brand {
  font-size: 30px;
  line-height: 58px;
  font-weight: bold;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  padding: 22px 1em;
  font-size: 18px;
  color: #383f4d;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

/* Switcher */

.switcher select {
  width: 99px;
  height: 30px;
}
