.like {
  font-family: "Red Hat Mono", monospace;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0px auto;
  padding: 5px 5px;
  background: #fff;
  width: 100%;
}

.bold {
  font-family: 'Red Hat Mono', monospace;
  border-bottom: 2px solid black;
  font-weight: bold;
  color: black;
  text-align: center;
}